h1,h2,ul,ol{
    color:rgb(249, 167, 167)
    font-size: sans-serif;
    font-family:courier;
    text-transform: uppercase;
}

h1,h2 {
    text-align: center;
    font-size: 40px;
}

ul,ol{
    margin-left: 16%;
    font-size: 25px;
}
ol{
    margin-left: 16%;
}
ul li,ol li{
    color:rgb(230, 136, 136);
}
a{
    color:rgb(202, 95, 95);
}
.Contact{
    color:rgb(190, 26, 26);
}
.Graduated{
    color:rgb(209, 75, 75);
}
.Skill{
    color:rgb(234, 109, 109);
}
#name{
    color:darkred;
}